---
import { Sprite } from "astro-iconify";
import type { TechCard, TechCardType } from "@../data/TechStack/types";
import DepsList from "./DepsList.astro";
import Rating from "./Rating.astro";
import TagsList from "./TagsList.astro";

interface Props extends TechCard {
  fadeBody?: boolean;
}

const { fadeBody, stats, type, deps, tags } = Astro.props;
const { pro = 0, exp = 0, frs = 0, int = 0 } = stats || {};

const iconMap: Record<TechCardType, string> = {
  lang: "ic:baseline-language",
  // iconName = "clarity:language-line";
  // iconName = "la:language";
  lib: "ph:package",
  // iconName = "tabler:packages";
  meta: "iconoir:frame-alt",
  style: "ph:paint-brush-broad",
  tool: "",
};

const iconName = iconMap[type];
---

<div
  class:list={[
    "mt-1 mb-1 mr-1 flex w-[7.5rem] flex-grow flex-col rounded-t-xl rounded-r-xl bg-secondary-focus",
    { "opacity-70": fadeBody },
  ]}
>
  <!-- Type -->
  <div
    class="bg-secondary absolute top-0 right-0 rounded-tr-2xl rounded-bl-lg p-[0.5em] text-sm"
  >
    <Sprite name={iconName} class="h-5 w-5" />
  </div>
  <!-- Deps -->
  <div class="bg-secondary mb-4 pb-1 pl-4">
    {(<DepsList deps={deps} />)}
  </div>
  <!-- Tags -->

  {(<TagsList tags={tags} />)}

  <!-- Stats -->
  <div
    class="mx-1 mt-auto grid grid-cols-[max-content,1fr] grid-rows-4 gap-x-1 text-xs uppercase tracking-wider [fontFamily:bit]"
  >
    <Rating title="pro" value={pro} />
    <Rating title="exp" value={exp} />
    <Rating title="frs" value={frs} />
    <Rating title="int" value={int} />
  </div>
</div>
