---
import { Sprite } from "astro-iconify";
import TagsList from "../../../data/TechStack/TagsList.astro";
import type { TechCard } from "../../../data/TechStack/types";
import DepsList from "./DepsList.astro";
import Rating from "./Rating.astro";

const { stats, type, deps, tags } = Astro.props as TechCard;
const { pro = 0, exp = 0, frs = 0, int = 0 } = stats || {};
let iconName = "";
switch (type) {
  case "lang":
    iconName = "ic:baseline-language";
    // iconName = "clarity:language-line";
    // iconName = "la:language";
    break;
  case "lib":
    iconName = "ph:package";
    // iconName = "tabler:packages";
    break;
  case "meta":
    iconName = "iconoir:frame-alt";
    // iconName = "fluent-mdl2:process-meta-task"; //too big
    break;
  case "style":
    iconName = "ph:paint-brush-broad";
    // iconName = "fluent:text-edit-style-20-filled";
    break;
}
---

<div class="flex min-w-max basis-full">
  <div
    class="mt-1 mb-1 mr-1 flex flex-col justify-between rounded-t-xl rounded-r-xl bg-secondary-focus"
  >
    <!-- Type -->
    <div
      class="absolute top-0 right-0 rounded-tr-2xl rounded-bl-lg bg-secondary p-[0.5em] text-sm"
    >
      <Sprite name={iconName} class="h-5 w-5" />
    </div>
    <!-- Deps -->
    {(<DepsList deps={deps} />)}
    <!-- Tags -->
    {(<TagsList tags={tags} />)}

    <!-- Stats -->
    <div
      class="mx-1 grid grid-cols-[max-content,1fr] grid-rows-4 gap-x-1 text-xs uppercase tracking-wider [fontFamily:bit]"
    >
      <Rating title="pro" value={pro} />
      <Rating title="exp" value={exp} />
      <Rating title="frs" value={frs} />
      <Rating title="int" value={int} />
    </div>
  </div>
</div>
