---
import { Sprite } from "astro-iconify";
import type { Scale, TechCardStatsTitle } from "../../../data/TechStack/types";

interface Props {
  title: TechCardStatsTitle;
  value: Scale;
}

const { title, value } = Astro.props;

const ratingMap: Record<TechCardStatsTitle, [string, string]> = {
  pro: ["red", "ic:baseline-speed"],
  exp: ["blue", "mdi:book-education"],
  frs: ["green", "ic:baseline-timer"],
  int: ["yellow", "mdi:cards-heart"],
};

const [color, iconName] = ratingMap[title];

// pro mdi:clipboard-check mdi:clipboard-check-multiple ic:baseline-library-add-check ic:baseline-speed
// exp bi:card-list mdi:book-education
// fresh ic:round-event-repeat ic:baseline-refresh ic:baseline-timer
// int mdi:heart mdi:heart-plus mdi:heart-circle
//  https://css-tricks.com/five-methods-for-five-star-ratings/
---

<span style={{ color: `var(--${color})` }}>{title}</span>
<div class="grid grid-cols-5" style={{ color: `var(--${color})` }}>
  {
    Array.from({ length: 5 }, (_, i) => (
      <Sprite
        key={i}
        name={iconName}
        class:list={["h-4 w-4", { "opacity-30 grayscale": i >= value }]}
      />
    ))
  }
</div>
<style>
  :root {
    --red: #f87171;
    --blue: #60a5fa;
    --green: #4ade80;
    --yellow: #facc15;
    /* --red: #dc2626;
    --blue: #2563eb;
    --green: #16a34a;
    --yellow: #ca8a04; */
    /* --red: #b91c1c;
    --blue: #1d4ed8;
    --green: #15803d;
    --yellow: #a16207; */
  }
  /* @media (prefers-color-scheme: dark) {
    :root {
      --red: #ef4444;
      --blue: #3b82f6;
      --green: #22c55e;
      --yellow: #eab308;
    }
  } */
</style>
