---
import { ContactForm } from "@components/forms/ContactForm";
import LINKS from "@data/links";
import { Sprite } from "astro-iconify";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {}

const today = new Date();

const { class: extraClass } = Astro.props;
---

<footer
  class={twMerge(
    "grid grid-cols-2 gap-x-4 gap-y-8 py-8 md:grid-cols-5 lg:grid-cols-6 min-h-screen",
    extraClass
  )}
>
  <ContactForm class="col-span-full" />
  <hr class="col-span-full border-cc-white dark:border-cc-black" />
  <div class="col-span-2">
    <h1>Chuang <br class="max-md:hidden" />Caleb</h1>
    <a
      href={"mailto:" + LINKS.EMAIL.href}
      class="whitespace-nowrap font-light"
      aria-label={LINKS.EMAIL.ariaLabel}
    >
      <Sprite name={LINKS.EMAIL.icon} class="mr-1 inline aspect-square h-5" />{
        LINKS.EMAIL.href
      }
    </a>
  </div>
  <!-- <div>
    <h2 class="mb-2 text-2xl">nav</h2>
    <ul class="[&>li]:pb-2">
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
    </ul>
  </div> -->

  <div>
    <h2 class="mb-2 text-2xl">
      <Sprite name="mdi:link" class="mb-1 mr-1 inline aspect-square w-8" />Links
    </h2>
    <ul class="ml-4 [&>li]:pb-2">
      <li>
        <a href={LINKS.GITHUB.href} aria-label={LINKS.GITHUB.ariaLabel}>
          <Sprite
            name={LINKS.GITHUB.icon}
            class="mr-1 inline aspect-square w-5"
          />{LINKS.GITHUB.label}
        </a>
      </li>
      <li>
        <a href={LINKS.LINKEDIN.href} aria-label={LINKS.LINKEDIN.ariaLabel}>
          <Sprite
            name={LINKS.LINKEDIN.icon}
            class="mr-1 inline aspect-square w-5"
          />{LINKS.LINKEDIN.label}
        </a>
      </li>
      <li>
        <a href={LINKS.RESUME.href} aria-label={LINKS.RESUME.ariaLabel}>
          <Sprite
            name={LINKS.RESUME.icon}
            class="mr-2 inline aspect-square w-4"
          />{LINKS.RESUME.label}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-span-full font-extralight sm:text-center">
    &copy; {today.getFullYear()} Chuang Caleb. All rights reserved.
  </div>
</footer>
