---
import { ContactForm } from "@components/forms/ContactForm";
import LINKS from "@data/links";
import { Sprite } from "astro-iconify";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {}

const today = new Date();

const { class: extraClass } = Astro.props;
---

<footer
  class={twMerge(
    "grid grid-cols-2 gap-x-4 gap-y-8 pt-12 pb-8 md:grid-cols-5 lg:grid-cols-6 min-h-screen",
    extraClass
  )}
>
  <ContactForm class="col-span-full scroll-mt-12" />
  <hr class="col-span-full border-cc-white dark:border-cc-black" />
  <div class="col-span-2 space-y-4">
    <h1>Chuang <br class="max-md:hidden" />Caleb</h1>
    <button
      class="email-copy-button a-like whitespace-nowrap"
      aria-label={"Copy the " + LINKS.EMAIL.ariaLabel + " to the clipboard"}
    >
      <Sprite name={LINKS.EMAIL.icon} class="mr-1 inline aspect-square h-5" />{
        LINKS.EMAIL.href
      }
    </button>
  </div>
  <div>
    <h2 class="mb-2 text-2xl">
      <Sprite name="mdi:link" class="mb-1 mr-1 inline aspect-square w-8" />Links
    </h2>
    <ul class="ml-4 [&>li]:pb-2">
      <li>
        <a href={LINKS.GITHUB.href} aria-label={LINKS.GITHUB.ariaLabel}>
          <Sprite
            name={LINKS.GITHUB.icon}
            class="mr-1 inline aspect-square w-5"
          />{LINKS.GITHUB.label}
        </a>
      </li>
      <li>
        <a href={LINKS.LINKEDIN.href} aria-label={LINKS.LINKEDIN.ariaLabel}>
          <Sprite
            name={LINKS.LINKEDIN.icon}
            class="mr-1 inline aspect-square w-5"
          />{LINKS.LINKEDIN.label}
        </a>
      </li>
      <li>
        <a href={LINKS.RESUME.href} aria-label={LINKS.RESUME.ariaLabel}>
          <Sprite
            name={LINKS.RESUME.icon}
            class="mr-2 inline aspect-square w-4"
          />{LINKS.RESUME.label}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-span-full font-extralight sm:text-center">
    &copy; {today.getFullYear()} Chuang Caleb. All rights reserved.
  </div>
</footer>

<script>
  import LINKS from "@data/links";

  const emailCopyButton = document.querySelector(".email-copy-button");
  if (emailCopyButton) {
    emailCopyButton.addEventListener("click", () =>
      navigator.clipboard.writeText(LINKS.EMAIL.href)
    );
  }
</script>

<style>
  .email-copy-button:focus-visible:after,
  .email-copy-button:hover:after {
    content: " Click to Copy";
    display: inline-block;
    font-size: small;
    margin-top: auto;
    margin-left: 0.8em;
    opacity: 0.5;
  }
  .email-copy-button:active::after {
    content: " Copied!";
  }
</style>
