---
import { Tech } from "@components/common/Tech";
import { TechAttribute } from "@components/common/TechAttribute";
import { IconButton } from "@components/common/button/IconButton";
import { Section } from "@components/layout/Section";
import LINKS from "@data/links";
import { getFilteredStackKeys } from "@data/tech-stack";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Sprite } from "astro-iconify";

export const prerender = true;

const featuredStackKeys = getFilteredStackKeys(
  (t) =>
    t.isInterested === true ||
    t.isWork === true ||
    t.stage === "confident" ||
    t.stage === "expert"
);
---

<BaseLayout gridLayout="lg">
  <Section class="grid gap-8 pt-8 lg:flex-row lg:pt-20">
    <div class="my-auto text-center [grid-column:1]">
      <div
        class="grid justify-items-center py-4 lg:justify-items-start lg:text-left"
      >
        <h1 class="text-lg font-bold uppercase tracking-widest">
          Chuang Caleb
        </h1>
        <p
          class="mx-auto mb-8 mt-4 max-w-lg text-2xl sm:text-3xl md:text-4xl lg:mx-0 lg:max-w-xl"
        >
          <strong>Software Dev</strong>—specializing in <strong
            class="whitespace-nowrap">Front-End Web</strong
          >.
        </p>
        <code class="lg:text-lg"
          >Sometimes writing code; <span class="whitespace-nowrap"
            >always crafting experiences.</span
          ></code
        >
        <div class="mt-12 flex flex-wrap justify-around gap-4">
          <a href="#contact" class="no-underline">
            <IconButton
              name="mdi:connection"
              iconClass="h-6"
              hasContent
              class="max-w-fit"
            >
              Connect with me!
            </IconButton>
          </a>
          <div class="flex flex-wrap gap-x-4">
            <a
              href={LINKS.LINKEDIN.href}
              class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              title={LINKS.LINKEDIN.label}
              aria-label={LINKS.LINKEDIN.ariaLabel}
            >
              <Sprite
                name={LINKS.LINKEDIN.icon}
                class="aspect-square w-12 p-1"
              />
            </a>
            <a
              href={LINKS.GITHUB.href}
              class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              title={LINKS.GITHUB.label}
              aria-label={LINKS.GITHUB.ariaLabel}
            >
              <Sprite name={LINKS.GITHUB.icon} class="aspect-square w-12 p-1" />
            </a>
            <a
              href={LINKS.RESUME.href}
              class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              title={LINKS.RESUME.label}
              aria-label={LINKS.RESUME.ariaLabel}
            >
              <Sprite name={LINKS.RESUME.icon} class="aspect-square w-12 p-2" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <img
      src="https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=900"
      srcset="https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=300 300w, https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=600 600w, https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=900 900w"
      alt="Head profile of Chuang Caleb"
      height="350"
      width="350"
      class="mx-auto aspect-square select-none rounded-3xl lg:mr-0 lg:[grid-column:2]"
    />
  </Section>

  <Section
    asArticle
    class="-mx-4 bg-cc-night px-4 py-8 text-cc-white dark:bg-cc-white dark:text-cc-black md:-mx-2 md:rounded-2xl md:px-8 lg:mx-0"
  >
    <h2>My Experiences</h2>
    <ul>
      <li>
        🧳 I have been working as a (Front-End) <strong
          >Software Engineer I</strong
        > at <a href="https://www.airasia.com/aa/appdownload/">
          airasia Super App</a
        > since Oct 2022
      </li>
      <li>
        🎓 I graduted with a <strong>
          BSc (Hons) Computer Science w/ Artificial Intelligence
        </strong> from the <a href="https://www.nottingham.ac.uk/">
          University of Nottingham</a
        > in Aug 2022
      </li>
      <li>
        🎭 I love <strong>storywriting</strong>, I write about story in my <a
          href="https://chuangcaleb.github.io/wtsa">story blog</a
        >
      </li>
      <li>🌱 I'm interested in Web Development, NLP & Game AI Agents</li>
      <li>
        🟪 I optimize my <a href="https://obsidian.md/">Obsidian</a> workflow for
        notetaking, journalling, blogging — everything
      </li>
      <li>
        🎮 I like modding and designing <a
          href="https://www.planetminecraft.com/member/calebchan/"
          >data packs for Minecraft</a
        >
      </li>
      <li>🎵 I always need my 🎸 guitar, and I'm learning 🎹 keyboard!</li>
    </ul>
  </Section>
  <Section asArticle class="max-w-prose [&>h3]:mt-[3em]">
    <h2>My Projects</h2>

    <h3>
      <span class="mb-3 block text-sm uppercase tracking-widest">
        Fountain Editor
      </span>
      Obsidian.md Plugin
    </h3>
    <p>
      <a href="https://obsidian.md">Obsidian</a> plugin for <a
        href="https://fountain.io">Fountain</a
      > (screenplay) syntax highlighting in the editor. Designed a parser with regex
      to tokenize and style the text with CodeMirror. Bundled with Rollup, and continuous
      deployment through GitHub Actions for building binaries on each release.
    </p>
    <p class="flex flex-wrap gap-x-4">
      <a href="https://github.com/chuangcaleb/obsidian-fountain-editor"
        >source code</a
      >
    </p>
    <h3>
      <span class="mb-3 block text-sm uppercase tracking-widest">
        PowerKids Kindergarten
      </span>
      Company Website
    </h3>
    <p>
      Official company website to showcase the benefits of PowerKids
      Kindergarten School for the user conversion of parents. Developed with a
      <em>modern stack</em>: Astro.js, Typescript, <code>shadcn/ui</code> (Tailwind
      CSS + Radix UI), Utopia's responsive fluid design, Cloudinary, Cloudflare Pages;
      whilst served efficiently through a custom <code>.edu.my</code> domain.
    </p>
    <p class="flex flex-wrap gap-x-4">
      <a href="https://powerkids.edu.my">powerkids.edu.my</a>
      <a href="https://github.com/chuangcaleb/powerkids-site"
        >source code @ latest</a
      >
    </p>
    <p class="flex flex-wrap gap-x-4 text-white/60">
      <a
        href="https://web.archive.org/web/20230223190115/http://powerkids.edu.my/"
        >site @ v2</a
      >

      <a href="https://github.com/chuangcaleb/powerkids-jekyll"
        >source code @ v2</a
      >
    </p>

    <h3>
      <span class="mb-3 block text-sm uppercase tracking-widest">
        Chuang Caleb's
      </span>Portfolio Website
    </h3>
    <p>
      Personal portfolio site to showcase skills/experiences and to connect
      opportunities. Designed to be <em>ultra-lightweight</em> and <em
        >Lighthouse-performant!</em
      > Developed with Typescript, Astro.js, Tailwind CSS, Vercel & Google Domains.
      The Contact Form is implemented with Google Recaptcha and Pipedream. WIP.
    </p>
    <p class="flex gap-x-4">
      <a href="http://chuangcaleb.com">chuangcaleb.com</a>
      <a href="https://github.com/chuangcaleb/personal">source code</a>
    </p>

    <!-- <h3>
      Classification of Themes and Motifs in Musical Composition with MIDI
    </h3>
    <p>
      A multi-label classifier models to predict themes/motifs in musical
      composition, as my dissertation and final-year university project.
      Developed with Python and scikit-learn, from web-scraped MIDI data using
      beautifulsoup4.
    </p>
    <p class="flex gap-x-4">
      <a href="https://github.com/chuangcaleb/music-theme-recognition"
        >[source]</a
      >
    </p> -->
    <h3>Live Score-Counting Web App</h3>
    <p class="flex gap-x-4">
      Live and dynamic points-tracker web app for games events with customizable
      styles and auto-sync/refresh. Developed with Django, MySQL, and minimal
      Javascript, hosted on pythonanywhere. Until I implement a security feature
      to protect live sessions in use, it'll be source code only!
    </p>
    <p>
      <a href="https://github.com/chuangcaleb/points">source code</a>
    </p>

    <!-- <h3>
      <span class="mb-2 block text-sm uppercase tracking-widest">
        whatsthestoryabout
      </span>
      Storywriting Blog
    </h3>
    <p>
      A static blog where I can showcase my story analyses, reviews and
      write-ups. I write content in my local <a href="https://obsidian.md/"
        >Obsidian</a
      > Markdown editor, while my site gets automatically built and deployed! Developed
      with Jekyll, Bootstrap, SCSS, minimal Javascript, Markdown, and hosted on GitHub
      Pages.
    </p>
    <p class="flex gap-x-4">
      <a href="http://chuangcaleb.github.io/wtsa/about"
        >chuangcaleb.github.io/wtsa</a
      >
      <a href="https://github.com/chuangcaleb/wtsa">source code</a>
    </p> -->
    <!-- <p>
      <a
        href={LINKS.RESUME.href}
        class="mt-8 inline-flex"
        aria-label={LINKS.RESUME.ariaLabel}
      >
        <IconButton
          name={LINKS.RESUME.icon}
          iconClass="h-6 aspect-square"
          hasContent
        >
          My Portfolio Document
        </IconButton>
      </a>
    </p>
    <p>
      <Button class="flex gap-x-2">My Portfolio Document</Button>
    </p> -->

    <div class="mt-20 flex max-w-md flex-wrap gap-4">
      <a href={LINKS.GITHUB.href}>
        <IconButton name="mdi:github" hasContent>View all projects</IconButton>
      </a>
      <a href={LINKS.RESUME.href}>
        <IconButton name={LINKS.RESUME.icon} hasContent>
          View my résumé
        </IconButton>
      </a>
    </div>
  </Section>
  <Section asArticle>
    <h2 class="border-b pb-2 text-center">My Tech Stack</h2>
    <!-- {
      Object.entries(TECH_ATTRIBUTES).map(([name]) => (
        <TechAttribute name={name} />
      ))
    } -->
    <ul class="ml-0 flex list-none flex-wrap justify-center gap-y-2">
      <TechAttribute name="learning" position="start" />
      <TechAttribute name="confident" position="middle" />
      <TechAttribute name="expert" position="end" />
      <TechAttribute name="isInterested" />
      <TechAttribute name="isWork" />
      <TechAttribute name="isFresh" />
    </ul>

    <ul class="ml-0 flex list-none flex-wrap justify-evenly gap-2 sm:gap-4">
      {
        featuredStackKeys.map((name) => (
          <li>
            <Tech name={name} />
          </li>
        ))
      }
    </ul>
  </Section>
</BaseLayout>
