---
import { Tech } from "@components/common/Tech";
import { Button } from "@components/common/button/BaseButton";
import { IconButton } from "@components/common/button/IconButton";
import GridLayout from "@components/layout/GridLayout.astro";
import { Section } from "@components/layout/Section";
import LINKS from "@data/links";
import { ALL_STACK_KEYS } from "@data/techStack";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Sprite } from "astro-iconify";
---

<BaseLayout gridLayout="lg">
  <!-- <Section colSpan="full" class="" noPaddingY>
    <nav class="flex justify-between py-2">
      <h1 class="text-2xl">chuangcaleb</h1>
      <ul class:list={["flex gap-6 my-auto"]}>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderLink href="/lore">lore</HeaderLink>
      </ul>
    </nav>
  </Section> -->
  <GridLayout isNestedGrid class="xl:gap-x-16">
    <Section class="grid py-16">
      <div class="my-auto text-center [grid-area:1/1]">
        <div
          class="grid justify-items-center gap-10 py-4 lg:justify-items-start lg:text-left"
        >
          <div class="grid gap-y-6">
            <h1
              class="text-5xl font-extrabold sm:text-6xl sm:tracking-wide md:text-7xl"
            >
              Chuang Caleb
            </h1>
            <p
              class="mx-auto max-w-lg text-2xl md:text-3xl lg:mx-0 lg:max-w-xl"
            >
              I'm a <strong>Software Engineer</strong> based in <strong
                >KL, Malaysia</strong
              >—specializing in <strong>Front-End Web</strong>.
              <span class="font-extralight">
                I design and create experiences by being <em>collaborative</em>, <em
                  >calculating</em
                >, and <em>clever</em>.
              </span>
            </p>
          </div>
          <div class="grid gap-y-4">
            <div
              class="grid auto-rows-fr grid-cols-3 gap-4 sm:grid-flow-col sm:grid-cols-none"
            >
              <!-- <Button class="col-span-full flex gap-x-2 whitespace-nowrap">
                <Icon name="mdi:connection" class="w-6" />
                Connect with me!
              </Button> -->
              <!-- <a
                href="https://www.linkedin.com/in/chuangcaleb/"
                class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              > -->
              <a
                href={LINKS.LINKEDIN.href}
                class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
                aria-label={LINKS.LINKEDIN.ariaLabel}
              >
                <Sprite
                  name={LINKS.LINKEDIN.icon}
                  class="aspect-square w-12 p-1"
                />
              </a>
              <a
                href={LINKS.GITHUB.href}
                class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
                aria-label={LINKS.GITHUB.ariaLabel}
              >
                <Sprite
                  name={LINKS.GITHUB.icon}
                  class="aspect-square w-12 p-1"
                />
              </a>
              <a
                href={LINKS.RESUME.href}
                class="rounded-xl border border-cc-blue text-cc-blue hover:bg-cc-blue hover:text-cc-white"
                aria-label={LINKS.RESUME.ariaLabel}
              >
                <Sprite
                  name={LINKS.RESUME.icon}
                  class="aspect-square w-12 p-2"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="-z-10 mx-auto flex max-h-min min-h-[450px] select-none place-items-center opacity-10 [grid-area:1/1] dark:opacity-20 md:min-h-[500px] lg:ml-auto lg:mr-0 dark:lg:opacity-30 xl:opacity-100"
      >
        <img
          src="https://res.cloudinary.com/dxvww1uyr/image/upload/c_fill,g_face,f_auto,q_auto,dpr_auto,r_max,w_500,ar_1:1/v1681634787/portfolio/artistic-profile.png"
          alt="Head profile of Chuang Caleb with a painting-like filter"
          height="500"
          width="500"
        />
        <!-- <Cloudinary
          gravity="face"
          height="700"
          width="700"
          cornerRadius="max"
          alt="Screenshot of the PowerKids Kindergarten's website's landing page"
          src="v1681634787/artistic-profile.png"
          errorImage="icons/picture-not-found.svg"
          resize="crop"
        /> -->
        <!-- <CldImg
          height="700"
          width="700"
          src="v1681634787/artistic-profile.png"
          alt="asds"
        /> -->
      </div>
    </Section>
  </GridLayout>
  <Section
    asArticle
    class="-mx-4 bg-cc-space p-8 text-cc-white dark:bg-cc-white dark:text-cc-black md:-mx-2 md:rounded-2xl lg:mx-0"
  >
    <h2>My Experiences</h2>
    <ul>
      <li>
        🧳 I have been working as a (Front-End) <strong
          >Software Engineer I</strong
        > at <a href="https://www.airasia.com/aa/appdownload/">
          airasia Super App</a
        > since Oct 2022
      </li>
      <li>
        🎓 I graduted with a <strong>
          BSc (Hons) Computer Science w/ Artificial Intelligence
        </strong> from the <a href="https://www.nottingham.ac.uk/">
          University of Nottingham</a
        >
      </li>
      <li>
        🎭 I love <strong>storywriting</strong>, I write about story in my <a
          href="https://chuangcaleb.github.io/wtsa">story blog</a
        >
      </li>
      <li>🌱 I’m interested in NLP, Game AI Agents & Web Development</li>
      <li>
        🟪 I optimize my <a href="https://obsidian.md/">Obsidian</a> workflow for
        notetaking, journalling, blogging — everything
      </li>
      <li>
        🎮 I like modding and designing <a
          href="https://www.planetminecraft.com/member/calebchan/"
          >data packs for Minecraft</a
        >
      </li>
      <li>🎵 I always need my 🎸 guitar, and I'm learning 🎹 keyboard!</li>
    </ul>
  </Section>
  <Section asArticle>
    <h2>My Work</h2>

    <h3>PowerKids Kindergarten Company Website</h3>
    <p>
      An official company website to promote registration and showcase details
      about PowerKids Kindergarten. Created with Jekyll, Bootstrap, SCSS, and
      hosted on GitHub Pages whilst deployed to a custom <code>.edu.my</code> domain.
    </p>
    <p>
      <a href="https://www.powerkids.edu.my">[site]</a>
      <a href="https://github.com/chuangcaleb/powerkids-jekyll">[source]</a>
    </p>
    <h3>whatsthestoryabout Storywriting Blog</h3>
    <p>
      A static blog where I can showcase my story analyses, reviews and
      write-ups. Created with Jekyll, Bootstrap, SCSS, minimal Javascript, and
      hosted on GitHub Pages.
    </p>
    <p>
      <a href="http://chuangcaleb.github.io/wtsa/about">[site]</a>
      <a href="https://github.com/chuangcaleb/wtsa">[source]</a>
    </p>
    <h3>
      Classification of Themes and Motifs in Musical Composition with MIDI
    </h3>
    <p>
      A multi-label classifier models to predict themes/motifs in musical
      composition, for my dissertation and final-year university project.
      Created with Python and scikit-learn, with MIDI data web-scraped with
      beautifulsoup4.
    </p>
    <p>
      <a href="https://github.com/chuangcaleb/music-theme-recognition"
        >[source]</a
      >
    </p>
    <h3>Points Counter System</h3>
    <p>
      A live and dynamic points-tracker web app for games events with
      customizable styles and auto-sync/refresh. Created with Django, MySQL, and
      minimal javascript, hosted on pythonanywhere.
    </p>
    <p>
      <a href="https://github.com/chuangcaleb/points">[source]</a>
    </p>
    <p>
      <a
        href={LINKS.RESUME.href}
        class="mt-8 inline-flex"
        aria-label={LINKS.RESUME.ariaLabel}
      >
        <IconButton name={LINKS.RESUME.icon} iconClass="w-6 h-6" hasContent>
          My Portfolio Document
        </IconButton>
      </a>
    </p>
    <p>
      <Button class="flex gap-x-2">My Portfolio Document</Button>
    </p>
  </Section>
  <Section asArticle>
    <div class="flex flex-wrap justify-center gap-4">
      {ALL_STACK_KEYS.map((name) => <Tech name={name} />)}
    </div>
  </Section>
</BaseLayout>
