---
import type { TechCard } from "../../data/TechStack/types";
import Rating from "./Rating.astro";

const { stats, type } = Astro.props as TechCard;
const { pro = 0, exp = 0, frs = 0, int = 0 } = stats || {};
---

<div class="basis-full flex">
  <div
    class="basis-full bg-ccSlate border border-zinc-500 dark:border-zinc-600 border-spacing-8 rounded-t-xl rounded-r-xl mt-1 mr-1 mb-1 flex"
  >
    <span
      class="absolute top-0 right-1 rounded-tr-lg rounded-bl-lg text-sm pl-2 bg-ccCambridge-fade dark:bg-ccIndigo [fontFamily:bit]"
      >{type}</span
    >
    <div></div>
    <!-- Stats -->
    <div
      class="self-end grid grid-rows-4 grid-cols-[max-content,1fr] gap-x-1 text-xs [fontFamily:bit] tracking-wider uppercase mx-1"
    >
      <Rating title="pro" value={pro} />
      <Rating title="exp" value={exp} />
      <Rating title="frs" value={frs} />
      <Rating title="int" value={int} />
    </div>
  </div>
</div>
