---
import { Sprite } from "astro-iconify";
import type { TechCard } from "../../data/TechStack/types";
import Rating from "./Rating.astro";

const { stats, type } = Astro.props as TechCard;
const { pro = 0, exp = 0, frs = 0, int = 0 } = stats || {};
let iconName = "";
switch (type) {
  case "lang":
    iconName = "ic:baseline-language";
    // iconName = "ic:outline-abc";
    break;
  case "lib":
    iconName = "ph:package";
    // iconName = "tabler:packages";
    break;
  case "meta":
    iconName = "iconoir:frame-alt";
    // iconName = "fluent-mdl2:process-meta-task"; //too big
    break;
  case "style":
    iconName = "ph:paint-brush-broad";
    // iconName = "fluent:text-edit-style-20-filled";
    break;
}
---

<div class="flex basis-full">
  <div
    class="mt-1 mb-1 mr-1 flex basis-full border-spacing-8 rounded-t-xl rounded-r-xl border border-zinc-500 bg-ccIndigo dark:border-zinc-600"
  >
    <div
      class="absolute top-0 right-0 rounded-tr-2xl rounded-bl-lg bg-ccTeal-300 p-[0.4em] text-sm dark:bg-ccIndigo-800"
    >
      <Sprite name={iconName} class="w-4 h-4" />
    </div>
    <div></div>
    <!-- Stats -->
    <div
      class="mx-1 grid grid-cols-[max-content,1fr] grid-rows-4 gap-x-1 self-end text-xs uppercase tracking-wider [fontFamily:bit]"
    >
      <Rating title="pro" value={pro} />
      <Rating title="exp" value={exp} />
      <Rating title="frs" value={frs} />
      <Rating title="int" value={int} />
    </div>
  </div>
</div>
