---
import TechStack from "../../data/TechStack";
import type { TechTitle } from "../../data/TechStack";
import CardIcon from "./CardIcon.astro";
import CardBody from "./CardBody.astro";
import CardHeader from "./CardHeader.astro";

interface Props {
  title: TechTitle;
}
const { title } = Astro.props as Props;
const techCard = TechStack[title];
const { grade, icon, stats, type } = techCard;
---

<div
  class="w-36 h-48 border border-zinc-500 dark:border-zinc-600 rounded-xl relative ml-3 mt-3 flex bg-ccCambridge-fade dark:bg-ccIndigo text-ccIndigo dark:text-ccWhite"
>
  <!-- Title -->
  <CardHeader title={title} grade={grade} />

  <!-- Icon -->
  <CardIcon icon={icon} />

  <!-- Body -->
  <CardBody stats={stats} type={type} />
</div>

<style>
  @font-face {
    font-family: "bit";
    src: url("/8Bit-44Pl.ttf");
  }
</style>
