---
import TechStack from "../../data/TechStack";
import type { TechTitle } from "../../data/TechStack";
import CardIcon from "./CardIcon.astro";
import CardBody from "./CardBody.astro";

interface Props {
  title: TechTitle;
}
const { title } = Astro.props as Props;
const techCard = TechStack[title];
---

<div
  class="w-36 h-48 border border-zinc-500 dark:border-zinc-600 rounded-xl relative ml-3 mt-3 flex bg-ccCambridge-fade dark:bg-ccIndigo text-ccIndigo dark:text-ccWhite"
>
  <!-- Title -->
  <div class="relative w-min h-full [fontFamily:bit]">
    <span
      class="tracking-wide [writingMode:vertical-lr] [transform:rotate(180deg)] mt-11"
      >{title}</span
    >
    <span
      class="block w-full absolute bottom-1 text-center text-zinc-200 text-sm"
    >
      {techCard.grade?.tier}
    </span>
  </div>

  <!-- Icon -->
  <CardIcon icon={techCard.icon} />

  <!-- Body -->
  <CardBody stats={techCard.stats} type={techCard.type} />
</div>

<style>
  @font-face {
    font-family: "bit";
    src: url("/8Bit-44Pl.ttf");
  }
</style>
